<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>CLIENT_ID</key>
	<string>719458333583-912n634blt8rnd5l6prvnsm1804p8mm1.apps.googleusercontent.com</string>
	<key>REVERSED_CLIENT_ID</key>
	<string>com.googleusercontent.apps.719458333583-912n634blt8rnd5l6prvnsm1804p8mm1</string>
	<key>API_KEY</key>
	<string>AIzaSyBt1v_9XdQBNgwTKmu_QQfgRnsPXKChiFk</string>
	<key>GCM_SENDER_ID</key>
	<string>719458333583</string>
	<key>PLIST_VERSION</key>
	<string>1</string>
	<key>BUNDLE_ID</key>
	<string>com.galgo.uatre</string>
	<key>PROJECT_ID</key>
	<string>uatre-notifacionespush</string>
	<key>STORAGE_BUCKET</key>
	<string>uatre-notifacionespush.appspot.com</string>
	<key>IS_ADS_ENABLED</key>
	<false></false>
	<key>IS_ANALYTICS_ENABLED</key>
	<false></false>
	<key>IS_APPINVITE_ENABLED</key>
	<true></true>
	<key>IS_GCM_ENABLED</key>
	<true></true>
	<key>IS_SIGNIN_ENABLED</key>
	<true></true>
	<key>GOOGLE_APP_ID</key>
	<string>1:719458333583:ios:1b2f3907b2f0b05a7d51fa</string>
</dict>
</plist>